In [2]:
# Dependencies
import pandas as pd
import json
import requests
from config import api_key

In [3]:
zip_list = ["33138,us", "30067,us", "33136,us"]
rows = []

In [4]:
url = "http://api.openweathermap.org/data/2.5/weather?"
for x in zip_list:
    params = {
        "zip" : x,
        "appid" : api_key
    }
    # Get weather data
    weather_response = requests.get(url, params=params)
    weather_json = weather_response.json()
    
    # Get the temperature from the response
    print(f"The weather API responded with: {weather_json}.")
    
    coord_lon = weather_json['coord']['lon']
    coord_lat = weather_json['coord']['lat']
    weather = weather_json['weather'][0]['main']
    
    row = {
        'zip' : x[0 : 5],
        'coord_lon': weather_json['coord']['lon'],
        'coord_lat' : weather_json['coord']['lat'],
        'weather' : weather_json['weather'][0]['main'],
        'weather_description' : weather_json['weather'][0]['description'],
        'temp' : weather_json['main']['temp'],
        'temp_min' : weather_json['main']['temp_min'],
        'temp_max' : weather_json['main']['temp_max'],
        'pressure' : weather_json['main']['pressure'],
        'humidity' : weather_json['main']['humidity'],
        'wind_speed' : weather_json['wind']['speed'],
        'city' : weather_json['name']
    }
    
    rows.append(row)

NameError: name 'url' is not defined

In [60]:
weather_json

{'coord': {'lon': -80.2042, 'lat': 25.7864},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04n'}],
 'base': 'stations',
 'main': {'temp': 298.29,
  'feels_like': 297.04,
  'temp_min': 297.59,
  'temp_max': 299.15,
  'pressure': 1016,
  'humidity': 57},
 'visibility': 10000,
 'wind': {'speed': 4.63, 'deg': 260},
 'clouds': {'all': 75},
 'dt': 1616201180,
 'sys': {'type': 1,
  'id': 4896,
  'country': 'US',
  'sunrise': 1616153133,
  'sunset': 1616196686},
 'timezone': -14400,
 'id': 0,
 'name': 'Miami',
 'cod': 200}

In [61]:
rows

[{'zip': '33138',
  'coord_lon': -80.1821,
  'coord_lat': 25.8521,
  'weather': 'Clouds',
  'weather_description': 'overcast clouds',
  'temp': 298.78,
  'pressure': 1016,
  'humidity': 57,
  'wind_speed': 4.63,
  'city': 'Miami'},
 {'zip': '30067',
  'coord_lon': -84.4733,
  'coord_lat': 33.9282,
  'weather': 'Clouds',
  'weather_description': 'overcast clouds',
  'temp': 285.35,
  'pressure': 1021,
  'humidity': 67,
  'wind_speed': 4.12,
  'city': 'Marietta'},
 {'zip': '33136',
  'coord_lon': -80.2042,
  'coord_lat': 25.7864,
  'weather': 'Clouds',
  'weather_description': 'broken clouds',
  'temp': 298.65,
  'pressure': 1016,
  'humidity': 57,
  'wind_speed': 4.63,
  'city': 'Miami'},
 {'zip': '33138',
  'coord_lon': -80.1821,
  'coord_lat': 25.8521,
  'weather': 'Clouds',
  'weather_description': 'overcast clouds',
  'temp': 298.43,
  'temp_min': 297.59,
  'temp_max': 299.26,
  'pressure': 1016,
  'humidity': 57,
  'wind_speed': 4.63,
  'city': 'Miami'},
 {'zip': '30067',
  'coord_lon': -84.4733,
  'coord_lat': 33.9282,
  'weather': 'Clouds',
  'weather_description': 'overcast clouds',
  'temp': 284.99,
  'temp_min': 284.26,
  'temp_max': 286.15,
  'pressure': 1021,
  'humidity': 67,
  'wind_speed': 4.12,
  'city': 'Marietta'},
 {'zip': '33136',
  'coord_lon': -80.2042,
  'coord_lat': 25.7864,
  'weather': 'Clouds',
  'weather_description': 'broken clouds',
  'temp': 298.29,
  'temp_min': 297.59,
  'temp_max': 299.15,
  'pressure': 1016,
  'humidity': 57,
  'wind_speed': 4.63,
  'city': 'Miami'}]

In [62]:
pd.DataFrame(rows)

,zip,coord_lon,coord_lat,weather,weather_description,temp,pressure,humidity,wind_speed,city,temp_min,temp_max
0,33138,-80.1821,25.8521,Clouds,overcast clouds,298.78,1016,57,4.63,Miami,NaN,NaN
1,30067,-84.4733,33.9282,Clouds,overcast clouds,285.35,1021,67,4.12,Marietta,NaN,NaN
2,33136,-80.2042,25.7864,Clouds,broken clouds,298.65,1016,57,4.63,Miami,NaN,NaN
3,33138,-80.1821,25.8521,Clouds,overcast clouds,298.43,1016,57,4.63,Miami,297.59,299.26
4,30067,-84.4733,33.9282,Clouds,overcast clouds,284.99,1021,67,4.12,Marietta,284.26,286.15
5,33136,-80.2042,25.7864,Clouds,broken clouds,298.29,1016,57,4.63,Miami,297.59,299.15